<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Challenge 1">

    <test name="Zoopla Result Page Test">
        <classes>
            <class name="com.first.challenge.tests.ZResultPageTest"></class>
        </classes>
    </test>
</suite>